.HomePageDiv {
    overflow: hidden;
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePageImg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.HomePageText {
    font-size: 24pt;
}